#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: #111; */
  color: #fff;
  font-family: 'Fredericka the Great', cursive, sans-serif;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body.light {
  color-scheme: normal;
  color: black;
  background-color: rgb(214, 116, 70);
}
body.dark{
  color-scheme: dark;
  color: #ffffffde;
  background-color: #353130;
}