
.header{
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: flex-start; /* Place the image at the top */
  width: 100 vw;
  margin: 0;
  margin-bottom: 5%;
  height: 50vh;

}
.header img {
  width: 80%;
  height: 100%;
  object-fit: cover; /* Maintain image aspect ratio */
  box-shadow: 0 0 8px 8px #474646;
}
.profileCard{
  padding: 3%;
  padding-left: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
  margin: 1%;
}
.pic-cont{
  height: 40vh;
  box-shadow: 0 0 5px 8px #201e1e;
}
.pic-cont img{
  max-height: 100%;
  max-height: 100%;
}
.profileCard p{
  padding-left: 2%;
  font-size: 1em;
  margin:1%;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.nav-pills{
  max-height: 6vh;
  background-color: #dfd6d3;
}
.nav-item{
  width: 10vw;
  height: 5vh;
  margin-top: 1% ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.heart-button {
  background: transparent;
  border: 2px solid #DB9977;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.heart-button:hover {
  background: #DB9977;
}

.all-songsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.song-cardContainer{
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content:flex-end;
  align-items: center;
  
}
.album-intro{
  margin: 2%;
}
.albumphoto-cont{
  width: 25%;
  height: auto;
  max-height: 100%;
  margin-top: 2%;

}
.albumphoto-cont img, .albumIMG-cont img{
  width: 100%;
  box-shadow: 0 0 4px 8px #202020;
  margin-top: 1%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
.song-card {
  width: 70%;
  border: 1px solid #e0e0e0;
  background-color: #eee8f1;

  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 4px 8px #2e2d2d;
  padding: 1.5%;
  margin: 3%;
  max-width: 65vw;

}

.song-card h2, .albumdetails h2{
  font-size: 1.7em;
  font-weight: 700;
  color: #795045;
  margin-bottom: 10px;
}
.song-card h3, .albumdetails h3{
  color: #94949C;
  font-size: 1.1em;
}

.song-card p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #2c2b2b;
}
.album-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-albums{
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.album-container{
  width: 40%;
  background-color: #eee8f1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}

.albumdetails{
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 60%;
  padding: 2%;
}
.albumIMG-cont{
  box-shadow: 0 0 4px 8px #202020;
  max-width: 25%;
  max-height: 90%;
  width: 100%;
  height: 100%;
}
.player-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -2;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.overlay{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(116, 95, 69, 0.4) 50%, rgb(26, 22, 19));
}
.welcome-message{
  font-family: 'Fredericka the Great', cursive;
}
.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; 
  overflow: hidden;
}
